<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite">
<listeners>
<listener class-name="com.framevork_design.Utilities.Report_generation"/>
</listeners>
<parameter name="browser" value="Chrome"/>
  <test thread-count="5" name="cross-browser">
  <classes>
 <!-- <class name="com.framevork_design.test_case.open_url"/>--> 
  <class name="com.framevork_design.test_case.logIn"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
